@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}
a {
  color: inherit;
}

:root {
  --almost-black: #2a2a2a;
  --text-color: #3e3e3e;
  --primary-color: #1dbf73;
  --secondary-color: #f9ac47;
  --fourth-color: #e6cc73;
  --third-color: #358cc4;
  --almost-white: #f8f9fa;
  --primary-color-hover: #16b86c;
}
img[src=''] {
  display: none;
}
#cover-preview {
  max-height: 300px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
html {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
details summary::-webkit-details-marker {
  display:none;
}
.text-link {
    color: var(--third-color);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

progress[value] {
    appearance: none;
    border: none;
    height: 20px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    position: relative;
}
progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}
progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    width:5px; height:5px;
    top:7px; right:7px;
    background-color: white;
    border-radius: 100%;
}
progress[value]::-moz-progress-bar {
    background-image:
        -moz-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -moz-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -moz-linear-gradient( left, #09c, #f44);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

progress::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -webkit-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -webkit-linear-gradient( left, #09c, #f44);
}

progress::-moz-progress-bar {
    background-image:
        -moz-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -moz-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -moz-linear-gradient( left, #09c, #f44);
}

.rotate-180 {
  transform: rotate(180deg);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.slick-arrow.slick-disabled {
  opacity: 0.5;
}
.embed-video {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
    .text-md-center {
        text-align: center;
    }
    .text-md-left {
        text-align: left;
    }
    .text-md-right {
        text-align: right;
    }
}
@media screen and (min-width: 993px) {
    .text-lg-center {
        text-align: center;
    }
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
    .container {
        max-width: 1400px !important;
    }
}
@media screen and (min-width: 1200px) {
    .text-xl-center {
        text-align: center;
    }
    .text-xl-left {
        text-align: left;
    }
    .text-xl-right {
        text-align: right;
    }
}
